.custom-calendar {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  color: #e63946; /* Cinnabar */
  border: none;
}

.custom-calendar .react-calendar__tile {
  color: whitesmoke;
  background: transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.custom-calendar .react-calendar__tile:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Highlight selected date */
.custom-calendar .selected-date {
  background: #e63946 !important; /* Cinnabar */
  color: white !important;
  font-weight: bold;
}

/* Subtle highlight for today */
.custom-calendar .current-date {
  background: rgba(255, 255, 255, 0.2) !important;
  color: #e63946 !important;
  font-weight: bold;
}

/* Style navigation buttons */
.custom-calendar .react-calendar__navigation button {
  color: #e63946;
  font-weight: bold;
}

.custom-calendar .react-calendar__month-view__weekdays {
  color: #e63946;
  font-weight: bold;
}
